#spotify {
  background-image: linear-gradient( 135deg, #F05F57 0%, #360940 100%);
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  #spotify-authed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  h2 {
    font-size: 35px;
    margin: 0;
  }

  .login-button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
    padding: 30px;
    font-weight: 200;
    border-radius: 50px;
  }

  .playback-wrapper {
    font-size: 2em;
  }

  .song-info {
    font-size: 35px;

    .song-title,
    .song-artist {
      margin: 15px auto;
      display: block;
    }

    .song-title:after {
      content: 'by';
      display: block;
      font-weight: 200;
      margin-top: 15px;
    }
  }
}
