#spotify {
  position: relative;
  text-align: center;

  #spotify-authed {
    display: grid;
    grid-template-columns: auto 150px;
    text-shadow: 0 0 5px black;
  }

  h2 {
    font-size: 35px;
    margin: 0;
  }

  .login-button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
    padding: 30px;
    font-weight: 200;
    border-radius: 50px;
    display: inline-block;
  }

  .playback-wrapper {
    font-size: 2em;
    line-height: 2.5em;
    font-family: $font-family-monospace;
  }

  #album-art-bg-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);

    img {
      width: 100%;
      min-height: 100%;
    }
  }

  .song-info {
    font-size: 25px;

    .song-title,
    .song-artist {
      margin: 15px auto;
      display: block;
    }

    .song-title:after {
      content: 'by';
      display: block;
      font-weight: 200;
      margin-top: 15px;
    }
  }
}
