
// Base
$body-bg: #2D394A;
$font-size-base: 14px;
$font-weight: 400;
$text-color: #efefef;

// Grid
$grid-gutter: 1.5vh;
$grid-template:
        "today   spotify spotify jira stash"
        "weather .       .       jira stash"
        "news    news    news    jira stash"
        "news    news    news    jira stash";

// Font
$font-family: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Mono", monospace;

// Panel
$panel-background: #5C7396;
$panel-padding: 0;
$panel-border-radius: 0;
$panel-title-font-weight: 400;
$panel-title-background: rgba(0,0,0,0.3);
$panel-footer-background: rgba(0,0,0,0.1);

// News
$news-border-color: rgba(0, 0, 0, 0.3);
$news-title-color: white;
$news-title-size: 18px;

// Media sizings
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1); // 479
$screen-sm-max: ($screen-md-min - 1); // 767
$screen-md-max: ($screen-lg-min - 1); // 991