#weather {
  #current-weather {
    .column-wrapper:first-child {
      align-items: center;
    }

    .location {
      font-size: 30px;
      font-weight: 300;
      margin-top: 0;
    }

    .icon {
      font-size: 60px;
    }

    #temperature-column {
      @include flexbox();
      justify-content: center;
      align-items: center;

      .temperature {
        font-size: 40px;
        font-weight: 300;
      }
    }

    .description {
      margin-top: 30px;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
}