#current-weather {
  .column-wrapper:first-child {
    align-items: center;
  }

  .location {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
  }

  .icon {
    font-size: 60px;
  }

  #weather-data {
    @include flexbox();
    margin: 30px 0;
    justify-content: space-around;
    align-items: center;

    .temperature {
      font-size: 40px;
      font-weight: 300;
    }
  }

  .description {
    text-transform: capitalize;
    font-size: 2em;
    text-align: center;
    font-weight: 300;
  }
}